<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,596},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,137}}</string>
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>

			<key>100K.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,730},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,137}}</string>
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>

			<key>100M.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,316},{133,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,139}}</string>
				<key>sourceSize</key>
				<string>{133,139}</string>
			</dict>

			<key>10K.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,416},{132,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,139}}</string>
				<key>sourceSize</key>
				<string>{132,139}</string>
			</dict>

			<key>10M.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,137}}</string>
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>

			<key>150M.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,456},{133,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,139}}</string>
				<key>sourceSize</key>
				<string>{133,139}</string>
			</dict>

			<key>1K.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,178},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,137}}</string>
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>

			<key>1M.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,872},{133,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,140}}</string>
				<key>sourceSize</key>
				<string>{133,140}</string>
			</dict>

			<key>200M.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,138},{132,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,139}}</string>
				<key>sourceSize</key>
				<string>{132,139}</string>
			</dict>

			<key>2M.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,734},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,137}}</string>
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>

			<key>500.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,454},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,137}}</string>
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>

			<key>500K.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,868},{133,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,139}}</string>
				<key>sourceSize</key>
				<string>{133,139}</string>
			</dict>

			<key>50K.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,137}}</string>
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>

			<key>50M.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,592},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,137}}</string>
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>

			<key>5K.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,137}}</string>
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>

			<key>5M.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,278},{132,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,137}}</string>
				<key>sourceSize</key>
				<string>{132,137}</string>
			</dict>

			<key>chipBlank.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,868},{133,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,138}}</string>
				<key>sourceSize</key>
				<string>{133,138}</string>
			</dict>

			<key>chipBorder.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{175,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,177}}</string>
				<key>sourceSize</key>
				<string>{175,177}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>chipBigAtlas.png</string>
			</dict>
		</dict>
</plist>