<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,292},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,146},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,876},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,730},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,584},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,438},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,292},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,146},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,0},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,876},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,438},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,584},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,438},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,292},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,146},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,874},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,728},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,582},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,730},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,290},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,144},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,876},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,728},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,436},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,582},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,730},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,584},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,730},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,438},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,292},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,146},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,0},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,876},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,730},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>46.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,584},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>47.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,438},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>48.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,292},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>49.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,146},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,584},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,0},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,876},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,730},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,438},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,292},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,146},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,584},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,145}}</string>
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>

			<key>card_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,143}}</string>
				<key>sourceSize</key>
				<string>{120,143}</string>
			</dict>

			<key>card_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,876},{106,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,129}}</string>
				<key>sourceSize</key>
				<string>{106,129}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>cardAtlas.png</string>
			</dict>
		</dict>
</plist>